// MIXINS

@mixin coverImg
    width: 100%
    padding: 0 5% 5%
    color: $offWhite
    box-sizing: border-box

@mixin mQ($arg)
    @media screen and (min-width: $arg)
        @content

@mixin clearIt
    content: ''
    clear: both
    display: block
