// MIXINS

@mixin mQ($arg)
    @media screen and (min-width: $arg)
        @content

@mixin clearIt
    content: ''
    clear: both
    display: block

@mixin rowMaker($numPerRow, $margin)
    width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow)
    &:nth-child(n)
        margin: 0 $margin $margin 0
    &:nth-child(#{$numPerRow}n)
        margin-right: 0

@mixin addInfo
    h3
        padding: 3%
        font-family: $megrim
        font-weight: bold
        color: white
        opacity: .2
        font-size: 5em
        margin: 0 0 -80px 0
    p
        padding: 10px 10% 0 15%
        text-align: right
        color: black
        &:last-child
            padding-bottom: 30px
