// VIDEO ON INDEX PAGE
.fullscreen
    min-height: 100%
    min-width: 100%
    position: fixed
    z-index: -100
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
main.videoIndex:after
    @include clearIt

//INTRO
.intro
    display: block
    width: 70%
    text-align: right
    margin: 100px 10% 0 20%
    color: $gold
    font-weight: bold
    font-family: $megrim
    @include mQ(435px)
        width: 60%
        margin: 100px 10% 0 30%
    @include mQ(545px)
        width: 50%
        margin: 100px 10% 0 40%
    @include mQ(650px)
        width: 40%
        margin: 100px 10% 0 50%
    @include mQ(1000px)
        width: 30%
        margin: 100px 10% 0 60%
    @include mQ(1560px)
        width: 70%
        margin: 100px 15% 0 15%
.introRemember
    font-family: $megrim
    color: $gold
    font-size: 2em
    line-height: 1
    @include mQ(760px)
        font-size: 2.6em
.ruskin
    font-style: italic
    font-family: $megrim
    color: $gold
    margin: 0 -8% 0 0
    padding-top: 10px
    @include mQ(1560px)
        margin: 0 -3% 0 0
.introExplore
    position: absolute
    right: 10%
    bottom: 10%
    @include mQ(1025px)
        display: none

// THUMBNAIL IMAGES OF PORTFOLIO PAGE
#coverImages
    width: 94%
    margin: 0 auto
.coverImg
    width: 100%
    // padding: 0 5% 5%
    color: $offWhite
    box-sizing: border-box
    padding: 24px 24px 22% 24px
    background-color: #f1f0ee
    &:hover
        background-color: $gold
        transition: 2.5s
    border: solid 1px $gold
    margin: 3% 0
    .contentCover
        position: relative
        a
            color: $offWhite
            &:hover
                color: $gold
                transition: 1.5s
    img
        width: 100%
    .title
        font-size: $hoverHeading
        display: block
        font-family: $megrim
        font-weight: bold
        text-transform: uppercase
        text-align: center
        position: absolute
        bottom: 47%
        width: 100%
    .subtitle
        font-size: 1.2em
        // text-transform: uppercase
        display: block
        font-family: $lato
        text-align: center
        position: absolute
        bottom: 42%
        width: 100%
    .raute
        position: absolute
        margin-top: -100%
@include mQ(500px)
    .coverImg
        @include rowMaker(2, 2%)
        float: left
        padding: 22px 22px 12% 22px
        .title
            font-size: 1.3em
        .subtitle
            font-size: .9em
@include mQ(760px)
    .coverImg
        @include rowMaker(3, 2%)
        padding: 20px 20px 9% 20px
    .raute
        opacity: 0
        &:hover
            opacity: 1
            transition: 2s
@include mQ(1300px)
    .coverImg
        @include rowMaker(4, 2%)
        padding: 20px 20px 6% 20px

// DESCRIPTION
#portPage
    position: relative
    &:after
        @include clearIt
.asideDescription
    width: 20%
    min-height: 260px
    float: left
    margin: 10px 3% 0 3%
    @include mQ(800px)
        margin: 10px 0 0 3%
    @include mQ(1000px)
        width: 200px
        margin: 10px 0 0 340px
    @include mQ(1200px)
        margin: 10px 0 0 420px
    @include mQ(1400px)
        margin: 10px 0 0 480px
    img
        width: 100%
        height: 100%
        padding: 5px 5px 30% 5px
        border: solid 1px $gold
        @include mQ(800px)
            max-width: 150px
            max-height: 200px
            padding: 10px 10px 50px 10px
.thumbDescription
    float: left
    margin: 10px 0 20px 5%
    width: 65%
    @include mQ(500px)
        margin: 10px 0 0 3%
    @include mQ(800px)
        margin: 10px 0 0 3%
    @include mQ(1000px)
        margin: 10px 80px 50px 0
        width: 38%
    @include mQ(1200px)
        width: 41%

// VIDEO STYLING
#content
    box-sizing: border-box
    clear: both
    width: 100%
    background: url(../images/mockups/bgDune.jpg) bottom no-repeat
    background-size: 100%
    // min-width: 340px
    padding-bottom: 240px
    @include mQ(540px)
        padding-bottom: 320px
    @include mQ(700px)
        background: url(../images/mockups/bgDune.jpg) top no-repeat
        background-size: 100%
        padding-top: 30px
        padding-bottom: 200px
    .video
        margin: 100px 3%
        position: relative
        padding-bottom: 56.25%
        padding-top: 0
        height: 0
        overflow: hidden
        @include mQ(700px)
            margin: 0 0 0 29%
        @include mQ(800px)
            margin: 0 0 0 26%
        @include mQ(1000px)
            margin: 0 0 0 340px
        @include mQ(1200px)
            margin: 30px 0 0 420px
        @include mQ(1400px)
            margin: 30px 0 0 480px
        iframe
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            @include mQ(700px)
                width: 90%
                height: 90%
            @include mQ(800px)
                width: 80%
                height: 80%
            @include mQ(1000px)
                width: 82%
                height: 82%
            @include mQ(1200px)
                width: 78%
                height: 78%
            @include mQ(1400px)
                width: 65%
                height: 65%

// #CONTENT IMAGES
.mockup100
    width: 100%
    height: auto

// ADDITIONAL INFO BOXES
.infoLogo
    @include addInfo
    background-color: #619f98
.infoArtDeco
    @include addInfo
    background-color: #3a8d9f
.infoTrailer
    @include addInfo
    background-color: #bf7034
.infoFolger
    @include addInfo
    background-color: $gold
    padding-bottom: 100px

// Slideshow container
.slideshow-container
    max-width: 200px
    float: right
    margin: 30px 10% -60px 60%
    // box-sizing: border-box
    .mySlides
        display: none
        img
            max-width: 100%
            vertical-align: middle
.fade
    -webkit-animation-name: fade
    -webkit-animation-duration: 2s
    animation-name: fade
    animation-duration: 2s
@-webkit-keyframes fade
    from
        opacity: .8
    to
        opacity: 1
@keyframes fade
    from
        opacity: .8
    to
        opacity: 1
.infoGermany
    @include addInfo
    background-color: #c4b098
.infoSc
    @include addInfo
    background-color: $gold
.infoImcpPort
    @include addInfo
    background-color: #d4bf90
.infoImcpPortPoster
    @include addInfo
    background-color: #cc4d16
.infoImcpPromo
    @include addInfo
    background-color: #cf6e23
.infoDakha
    @include addInfo
    background-color: #bcbdb7
.infoBook
    @include addInfo
    background-color: #bd2011
