// DESCRIPTION
#portPage
    position: relative
    margin-top: 20px
    &:after
        @include clearIt
.asideDescription
    width: 20%
    min-height: 260px
    float: left
    margin: 10px 3% 0 3%
    @include mQ(800px)
        margin: 10px 0 0 3%
    @include mQ(1000px)
        width: 200px
        margin: 10px 0 0 340px
    @include mQ(1200px)
        margin: 10px 0 0 420px
    @include mQ(1400px)
        margin: 10px 0 0 480px
    img
        width: 100%
        height: 100%
        padding: 5px 5px 30% 5px
        border: solid 1px $gold
        @include mQ(800px)
            max-width: 150px
            max-height: 200px
            padding: 10px 10px 50px 10px
.thumbDescription
    float: left
    margin: 10px 0 20px 5%
    width: 65%
    @include mQ(500px)
        margin: 10px 0 0 3%
    @include mQ(800px)
        margin: 10px 0 0 3%
    @include mQ(1000px)
        margin: 10px 80px 50px 0
        width: 38%
    @include mQ(1200px)
        width: 41%

// VIDEO STYLING
#content
    box-sizing: border-box
    clear: both
    width: 100%
    background: url(../images/mockups/bgDune.jpg) bottom no-repeat
    background-size: 100%
    padding-bottom: 240px
    @include mQ(540px)
        padding-bottom: 320px
    @include mQ(700px)
        background: url(../images/mockups/bgDune.jpg) top no-repeat
        background-size: 100%
        padding-bottom: 200px
    .video
        margin: 100px 3%
        position: relative
        padding-bottom: 56.25%
        padding-top: 0
        height: 0
        overflow: hidden
        @include mQ(700px)
            margin: 0 0 0 29%
        @include mQ(800px)
            margin: 0 0 0 26%
        @include mQ(1000px)
            margin: 0 0 0 340px
        @include mQ(1200px)
            margin: 30px 0 0 420px
        @include mQ(1400px)
            margin: 30px 0 0 480px
        iframe
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            @include mQ(700px)
                width: 90%
                height: 90%
            @include mQ(800px)
                width: 80%
                height: 80%
            @include mQ(1000px)
                width: 82%
                height: 82%
            @include mQ(1200px)
                width: 78%
                height: 78%
            @include mQ(1400px)
                width: 65%
                height: 65%
.padVideo
    padding-top: 0
    @include mQ(700px)
        padding-top: 30px

// ADDITIONAL INFO BOXES
.infoLogo
    @include addInfo
    background-color: #619f98
.infoArtDeco
    @include addInfo
    background-color: #3a8d9f
.infoTrailer
    @include addInfo
    background-color: #bf7034
.infoFolger
    @include addInfo
    background-color: $gold
    padding-bottom: 100px
.infoGermany
    @include addInfo
    background-color: #c4b098
.infoSc
    @include addInfo
    background-color: $gold
.infoImcpPort
    @include addInfo
    background-color: #d4bf90
.infoImcpPortPoster
    @include addInfo
    background-color: #cc4d16
.infoImcpPromo
    @include addInfo
    background-color: #cf6e23
.infoDakha
    @include addInfo
    background-color: #bcbdb7
.infoBook
    @include addInfo
    background-color: #bd2011
