// SECTION CONTENT STYLING
#content
    box-sizing: border-box
    clear: both
    width: 100%
    background: url(../images/mockups/bgDune.jpg) bottom no-repeat
    background-size: 100%
    padding-bottom: 240px
    @include mQ(540px)
        padding-bottom: 320px
    @include mQ(700px)
        padding-bottom: 200px
.infoList
    @include infoList
