footer
    background-color: black
    opacity: .9
    width: 100%
    text-align: center
    height: 50px
    border-top: solid 2px $gold
    position: absolute
    bottom: 0
    p
        color: $offWhite
        font-size: .9em
        font-family: $actor
        padding-top: 15px
#coverImages
    padding: 50px 5px
#coverImages:after
    @include clearIt
