//NAVIGATION
nav
    padding-top: 0
    position: absolute
    top: 0
    width: 100%
    z-index: 1
nav ul
    list-style-type: none
    overflow: hidden
    height: 0
    padding-left: 0
nav ul.open
    height: auto
    background-color: black
    opacity: .9
    margin-top: 0
nav ul li
    border-bottom: solid 2px $gold
    margin: 0
nav ul li:last-child
    border: none
nav ul li a
    z-index: 100
    display: block
    text-decoration: none
    padding: 15px 0 15px 3%
    font-family: $megrim
    color: $offWhite
    &:hover
        color: $gold
        text-decoration: underline
        transition: 1.5s
.navIndex ul.open
    opacity: .9
.topLink
    font-size: 1.4em
header .burger-nav
    display: block
    width: 100%
    cursor: pointer
    height: 50px
    background-color: black
    opacity: .9
    position: relative
    border-bottom: solid 2px $gold
.burgerIcon
    padding-left: 81%
    padding-top: 14px
    height: 22px
    display: block
    z-index: 300
    position: absolute
    top: 0
    right: 3%
@include mQ(800px)
    nav
        background-color: black
        opacity: .9
        height: 50px
        border-bottom: solid 2px $gold
        padding-bottom: 0
    nav ul
        overflow: none
        height: 50px
        display: inline-block
        width: 40%
        float: right
        margin-right: 2%
        text-align: center
        @include mQ(1000px)
            width: 38%
            font-size: 1.2em
        @include mQ(1150px)
            width: 34%
        @include mQ(1400px)
            width: 30%
    nav ul li
        border-bottom: none
        display: inline-block
        width: (100% / 3) - 1
        text-transform: lowercase
        a
            &:hover
                text-decoration: underline
                transition: 1.5s
    .topLink
        padding: 14px 0 0 25px
        font-family: $megrim
        font-weight: bold
        color: $offWhite
        font-size: 1.2em
    nav.navIndex
        padding-bottom: 0
    nav.navIndex ul
        width: 50%
        margin: 0 25%
        li
            width: (100% / 3) - 1
    header .burger-nav
        display: none
.logo
    position: absolute
    top: 5px
    left: 3%
    padding: 0
    margin: 0
    z-index: 2
