// ADDITIONAL INFO BOXES
.infoLogo
    @include addInfo
    h3
        color: lighten(#619f98, 10%)
    background-color: #619f98
.infoArtDeco
    @include addInfo
    background-color: #3a8d9f
    margin-top: 50px
    padding: 10px 0 50px
    @include mQ (1000px)
        padding: 10px 0 100px
.infoTrailer
    @include addInfo
    h3
        color: lighten($trailer, 15%)
    background-color: #bf7034
    a
        color: lighten($trailer, 15%)
        &:hover
            color: darken($gold, 30%)
.infoFolger
    @include addInfo
    h3
        color: white
        opacity: .2
    background-color: $gold
    padding-bottom: 30px
.infoBorrego
    @include addInfo
    h3
        color: lighten($borrego, 8%)
    background-color: $borrego
.infoSc
    @include addInfo
    h3
        color: white
        opacity: .2
    background-color: $gold
h3.infoScTitle
    color: $bgBody
    opacity: .6
    padding: 70px 0 70px 0
    text-align: center
    font-size: 2.2em
    font-family: $megrim
    font-weight: 300
.infoImcpPort
    @include addInfo
    h3
        color: lighten(#575361, 10%)
    background-color: #575361
    a
        color: lighten(#575361, 15%)
        &:hover
            color: #111
            transition: 1s
            cursor: pointer
.infoImcpPortPoster
    @include addInfo
    background-color: #cc4d16
    margin-top: 50px
    padding: 10px 0 50px
    @include mQ (1000px)
        padding: 10px 0 100px
.infoPoc
    @include addInfo
    background-color: #93c0a7
.infoList
    @include infoList
.infoCopyright
    font-size: .8em
    color: white
    opacity: .2
.info50Left, .info50Right
    @include addInfo
    position: relative
    width: 100%
    h3
        font-size: 1.8em
        color: #333
        padding: 80px 15% 0
        opacity: .9
        margin: 0
        @include mQ (1000px)
            padding: 150px 15% 0
    p
        padding: 10px 15% 0 15%
        text-align: left
    @include mQ (800px)
        width: 50%
    p:last-child
        padding-bottom: 40px
.info50Left
    float: left
.info50Right
    float: right
