// ADDITIONAL INFO BOXES
.infoLogo
    @include addInfo
    background-color: #619f98
.infoArtDeco
    @include addInfo
    background-color: #3a8d9f
.infoTrailer
    @include addInfo
    background-color: #bf7034
    a
        color: lighten($trailer, 25%)
        &:hover
            color: darken($gold, 30%)
.infoFolger
    @include addInfo
    background-color: $gold
    padding-bottom: 30px
.infoBorrego
    @include addInfo
    background-color: $borrego
.infoGermany
    @include addInfo
    background-color: #c4b098
.infoSc
    @include addInfo
    background-color: $gold
h3.infoScTitle
    color: $bgBody
    opacity: .6
    padding: 70px 0 70px 0
    text-align: center
    font-size: 2.2em
    font-family: $megrim
    font-weight: 300
.infoImcpPort
    @include addInfo
    background-color: #d4bf90
.infoImcpPortPoster
    @include addInfo
    background-color: #cc4d16
.infoImcpPromo
    @include addInfo
    background-color: #cf6e23
.infoDakha
    @include addInfo
    background-color: #bcbdb7
.infoBook
    @include addInfo
    // @include clearIt
    background-color: #bd2011
.infoList
    @include infoList
.infoCopyright
    font-size: .8em
    color: #222
